<% @games.each_with_index do |game, index| %>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 game-item">
    <%= render "games/mini", index: index + 1, game: game %>
  </div>
<% end %>
<%= paginate @games %>
<div class="clearfix"></div>
