<div class="comment-form">
  <%= form_for [review, comment], remote: true do |f| %>
    <%= f.text_field :content, placeholder: "Enter your comment",
      class: "form-control comment-content" %>
  <% end %>
</div>
