<span class="emotition">
  <span class="review-like">
    <%= render "emotitions/like", review: review, emotition: emotition %>
  </span>

  <span class="review-dislike">
    <%= render "emotitions/dislike", review: review, emotition: emotition %>
  </span>
</span>
