<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert-danger">
      <p class="text-center error-count">
        <%= pluralize object.errors.count, "error" %>.
      <p>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger alert-flash"><%= msg %></li>
      <% end %>
      <div class="clearfix"></div>
    </ul>
  </div>
<% end %>
