.comment {
  display: inline-flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;

  hr {
    margin: 10px 0;
  }

  .comment-left {
    float: left;
    display: inline-table;

    .comment-avatar {
      border: 1px solid rgba(0, 0, 0, 0.1);
      height: 40px;
    }
  }

  .comment-right {
    padding: 0 10px;
    position: relative;
    width: 95%;

    .nick-name {
      font-weight: bold;
      margin-bottom: 0;
    }

    .comment-footer {
      .reply,
      .reply-comment-icon {
        cursor: pointer;
        padding: 2px;

        a,
        a:hover {
          color: #333333;
          text-decoration: none;
        }
      }

      .read-more-reply-comment {
        .read-more {
          display: inline-block;

          .btn-read-more {
            background-color: #999999;
            color: white;
          }

          .btn-read-more,
          .btn-read-more:hover {
            text-decoration: none;
          }
        }

        .hide-comment {
          display: none;

          .btn-hide {
            background-color: #999999;
            color: white;
          }

          .btn-hide,
          .btn-hide:hover {
            text-decoration: none;
          }
        }
      }
    }

    .comment-actions {
      display: none;
      position: absolute;
      right: 10px;
      top: 0;

      .comment-edit,
      .comment-delete {
        display: inline-block;
        padding: 5px;
      }
    }
  }
}

.review-comments {
  .btn-comment {
    margin-bottom: 10px;
  }
}
