.comment {
  display: inline-flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;

  hr {
    margin: 10px 0;
  }

  .comment-left {
    float: left;
    display: inline-table;

    .comment-avatar {
      border: 1px solid rgba(0, 0, 0, 0.1);
      height: 40px;
    }
  }

  .comment-right {
    padding: 0 10px;
    position: relative;
    width: 95%;

    .nick-name {
      font-weight: bold;
      margin-bottom: 0;
    }

    .comment-footer {
      float: left;

      .reply,
      .reply-comment-icon {
        cursor: pointer;
        padding: 2px;
      }

    }

    .reply-comments {
      display: none;
    }

    .comment-actions {
      display: none;
      position: absolute;
      right: 10px;
      top: 0;

      .comment-edit,
      .comment-delete {
        display: inline-block;
        padding: 5px;
      }
    }
  }
}

.comment:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.review-comments {
  .btn-comment {
    margin-bottom: 10px;
  }
}
