.alert-flash {
  background-color: white !important;
  display: inline-block;
}

.error-count {
  background-color: white !important;
  font-size: 16px;
  font-weight: 600;
}

.alert-info {
  background-color: #d9edf7 !important;
  border-color: #bce8f1 !important;
  color: #31708f !important;
}

.alert-danger {
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important;
}
