.game-mini {
  .game-left {
    float: left;
    margin-right: 10px;

    .game-cover {
      width: 100px;
    }
  }

  .game-right {
    .game-name {
      .name {
        font-size: 16px;
        font-weight: bolder;
      }
    }
  }
}

.game {
  .container {
    background-color: white;
  }

  .game-left {
    .game-cover {
      margin-bottom: 20px;
    }

    .game-genre {
      .genre-title {
        display: inline-block;
        font-weight: bolder;
      }
    }

    .game-rate {
      .rate-title {
        font-weight: bolder;
      }

      .game-rate-left {
        margin-bottom: 10px;
        text-align: center;
      }

      .game-rate-right {
        ul {
          -webkit-padding-start: 10px;

          li {
            list-style: none;
            margin-bottom: 5px;

            .fa-star {
              float: left;
              line-height: 20px;
            }

            .fa-star::before {
              margin-right: 5px;
            }

            .bar {
              float: left;
              line-height: 20px;
              margin-left: 10px;
              padding-left: 5px;
              width: 80%;
            }

            .bar-5 {
              background-color: #88b131;
            }

            .bar-4 {
              background-color: #99cc00;
            }

            .bar-3 {
              background-color: #ffcf02;
            }

            .bar-2 {
              background-color: #ff9f02;
            }

            .bar-1 {
              background-color: #ff6f31;
            }
          }
        }
      }
    }

    .game-info-tab {
      .tab-content {
        padding: 5px;

        .tab-pane {
          .mySlides {
            margin-bottom: 0px;
          }

          hr {
            margin: 10px 0;
          }

          .write-review {
            .btn-review {
              float: right;
            }
          }
        }
      }
    }
  }

  .game-right {
    padding: 5px;

    .top-5,
    .recent {
      cursor: pointer;
      display: inline-block;
      padding: 5px;
    }

    .top-5:hover,
    .recent:hover {
      background-color: #ccc;
    }

    .recent-list {
      display: none;
    }

    .active {
      background-color: #ccc;
    }

    ul {
      -webkit-padding-start: 0px;

      li {
        list-style: none;
      }
    }
  }
}
