.game-mini {
  .game-show-left,
  .game-left {
    border-right: none !important;
    float: left;
    margin-right: 10px;

    .game-cover {
      width: 100px;
    }
  }

  .game-show-right,
  .game-right {
    .game-name {
      .name {
        font-size: 16px;
        font-weight: bolder;
      }
    }
  }
}

.game {
  .container {
    background-color: white;

    .game-search {
      .game-name-field {
        display: inline-block;
        width: 80%;
      }

      .btn-game-search {
        display: inline-block;
      }

      .followed {
        margin-right: 10px;
      }
    }

    .game-list-size {
      margin-bottom: 10px;
    }

    .game-list-content {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px;
    }
  }

  .game-show-left {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .game-show-left,
  .game-left {
    padding: 0 10px;

    .game-cover {
      margin-bottom: 20px;
    }

    .game-genre {
      .genre-title {
        display: inline-block;
        font-weight: bolder;
      }
    }

    .game-rate {
      .rate-title {
        font-weight: bolder;
      }

      .game-rate-left {
        margin-bottom: 10px;
        text-align: center;
      }

      .game-rate-right {
        ul {
          -webkit-padding-start: 10px;

          li {
            list-style: none;
            margin-bottom: 5px;

            .fa-star {
              float: left;
              line-height: 20px;
            }

            .fa-star::before {
              margin-right: 5px;
            }

            .bar {
              float: left;
              line-height: 20px;
              margin-left: 10px;
              padding-left: 5px;
              width: 80%;
            }

            .bar-5 {
              background-color: #88b131;
            }

            .bar-4 {
              background-color: #99cc00;
            }

            .bar-3 {
              background-color: #ffcf02;
            }

            .bar-2 {
              background-color: #ff9f02;
            }

            .bar-1 {
              background-color: #ff6f31;
            }
          }
        }
      }

      .rate {
        margin-bottom: 20px;

        .rate-create {
          margin-bottom: 10px;
        }

        .rate-form {
          display: none;
        }

        .rate-star {
          margin-right: 10px;

          .fa-star {
            cursor: pointer;
            font-size: 18px;
            padding: 3px;
          }

          .active-star {
            color: #f7db12;
          }
        }
      }

      .follow {
        margin-bottom: 20px;

        .game-follow {
          display: inline-block;
        }
      }
    }

    .game-info-tab {
      .tab-content {
        padding: 5px;

        .tab-pane {
          .mySlides {
            margin-bottom: 0px;
          }

          hr {
            margin: 10px 0;
          }

          .write-review {
            .btn-review {
              float: right;
            }
          }
        }
      }
    }
  }

  .game-show-right,
  .game-right {
    padding: 5px;

    .top-5,
    .recent {
      cursor: pointer;
      display: inline-block;
      padding: 5px;
    }

    .top-5:hover,
    .recent:hover {
      background-color: #ccc;
    }

    .recent-list {
      display: none;
    }

    .active {
      background-color: #ccc;
    }

    ul {
      -webkit-padding-start: 0px;

      li {
        list-style: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .game {
    .game-search {
      .game-name-field {
        width: 70% !important;
      }
    }

    .game-list-content {
      padding: 5px 0 !important;
    }
  }

  .game-name {
    .name {
      font-size: 13px !important;
    }
  }
}
