.genre {
  padding: 10px;

  .container {
    background-color: white;
    padding: 10px;

    .genre-left,
    .genre-right {
      padding: 5px;
    }

    .genre-right {
      .top-5,
      .recent {
        cursor: pointer;
        display: inline-block;
        padding: 5px;
      }

      .top-5:hover,
      .recent:hover {
        background-color: #ccc;
      }

      .recent-list {
        display: none;
      }

      .active {
        background-color: #ccc;
      }

      ul {
        -webkit-padding-start: 0px;

        li {
          list-style: none;
        }
      }
    }

    .genres-list {
      .genre-check-box {
        -webkit-transform: scale(1.2);
      }

      .genre-name {
        margin-right: 10px;
        font-size: 18px;
        padding: 0 5px;
      }
    }

    .game-list {
      .game-list-size {
        margin-bottom: 20px;
      }

      .game-list-content {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;

        .game-item {
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .genre-name {
    font-size: 12px !important;
  }
}
