.login {
  .jumbotron {
    background-color: white;
    padding-top: 20px;

    .field {
      margin-bottom: 10px;
    }

    .btn-login {
      margin-bottom: 20px;
    }
  }
}

.form-login-modal {
  .form-login {
    padding: 10px;

    .field {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .jumbotron {
    margin-top: 0 !important;

    .field {
      .form-control {
        font-size: 16px;
      }

      input::-webkit-input-placeholder {
        font-size: 11px;
        line-height: 2;
      }
    }
  }
}
