@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.grs {
  background-color: #ededed;

  #to-top {
    background-color: grey;
    bottom: 5px;
    display: none;
    position: fixed;
    right: 5px;
  }

  .pagination {
    width: 100% !important;
  }

  .header {
    margin-bottom: 20px;

    .header-above {
      background-color: white;
      height: 60px;

      .header-above-left {
        display: inline-block;
        margin-right: 20px;

        .title {
          padding-top: 10px;
        }

        a {
          color: black;
        }

        a:hover {
          text-decoration: inherit;
        }
      }

      .header-above-right {
        float: right;

        .header-dropdown {
          list-style: none;

          .user-dropdown {
            display: block;
            line-height: 50px;
          }

          a,
          a:hover {
            text-decoration: inherit;
          }

          .avatar-header {
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: inline-block;
            height: 40px;
            width: 40px;
          }
        }

        h5 {
          float: right;
          font-size: 14px;
          line-height: 50px;
          padding-left: 5px;
          padding-right: 5px;

          a {
            color: black;
          }

          a:hover {
            text-decoration: none;
          }
        }

        h4 {
          float: right;
          line-height: 50px;
          padding-left: 5px;
          padding-right: 5px;

          a {
            color: black;
          }

          a:hover {
            text-decoration: none;
          }
        }

        .item-right:hover {
          background-color: #ccc;
        }
      }
    }

    .header-below {
      background: #0b0b0b;
      color: #a4a4a4;
      height: 50px;

      .container {
        position: relative;
        z-index: 10;

        .header-below-left {
          background: #0b0b0b;

          .menu {
            -webkit-padding-start: 0px;
            margin-bottom: 0;

            .item {
              color: white;
              cursor: pointer;
              display: block;
              float: left;
              font-size: 14px;
              font-weight: bold;
              line-height: 50px;
              list-style: none;
              margin-right: 5px;

              a {
                border-radius: 3px;
                color: white;
                display: block;
                line-height: 50px;
                padding: 0 5px;
              }

              a:hover {
                color: white;
                background-color: #66cc33;
                text-decoration: inherit;
              }
            }

            .item-left {
              color: white;
              cursor: pointer;
              display: none;
              float: left;
              font-size: 14px;
              font-weight: bold;
              line-height: 50px;
              list-style: none;
              margin-right: 5px;
              padding: 0 5px;
            }

            .item-left:hover {
              text-decoration: none;
            }

            .active {
              background-color: #66cc33;
            }

            .li-icon {
              display: none;
              font-size: 20px;
              line-height: 23px;
            }
          }

        }

        .header-below-right {
          position: absolute;
          right: 15px;
          top: 11px;
          width: 50%;

          .form-search {
            position: relative;

            .header-search {
              border-radius: 3px;
              border: none;
              height: 30px;
              padding: 5px;
              padding-right: 30px;
              width: 100%;
            }

            .fa-search {
              cursor: pointer;
              position: absolute;
              right: 10px;
              top: 7px;
            }
          }
        }
      }
    }
  }

  .footer {
    background: #0b0b0b;
    color: #a4a4a4;
    margin-top: 20px;

    .sub-title {
      color: white;
    }

    .sub-footer-4 {
      ul {
        -webkit-padding-start: 0px;

        li {
          list-style: none;
        }
      }
    }
  }

  .body {
    font-size: 14px;
    min-height: 50vh;

    .flash {
      position: absolute;
      top: 60px;
      right: 50px;
      width: auto;
      word-wrap: break-word;
      text-align: right;
      z-index: 11;
    }

    .page {
      .container {
        background-color: white;
      }

      .page-left {
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        .new-reviews {
          font-weight: bolder;
        }
      }

      .page-right {
        padding: 5px;

        .top-5,
        .recent {
          cursor: pointer;
          display: inline-block;
          padding: 5px;
        }

        .top-5:hover,
        .recent:hover {
          background-color: #ccc;
        }

        .recent-list {
          display: none;
        }

        .active {
          background-color: #ccc;
        }

        ul {
          -webkit-padding-start: 0px;

          li {
            list-style: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .body {
    font-size: 12px !important;

    .editable,
    input {
      font-size: 16px !important;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }
  }

  .header-below {
    .container {
      margin: 0px;
      padding: 0px;
    }
  }

  .header-above-left {
    .title {
      font-size: 18px;
    }
  }

  .header-below-left {
    #menu-header {
      .item {
        display: none;
      }

      .li-icon {
        color: white;
        cursor: pointer;
        display: block !important;
        height: 50px;
        list-style: none;
        position: relative;
        width: 40px;

        a:hover {
          text-decoration: none;
        }

        a {
          left: 10px;
          position: absolute;
          top: 15px;
          text-decoration: none;
        }
      }

      .icon {
        display: block !important;
      }
    }
  }

  .header-below-right {
    .form-search {
      .header-search {
        font-size: 16px;
      }

      input::-webkit-input-placeholder {
        font-size: 11px;
        line-height: 2;
      }

      .fa-search {
        font-size: 16px;
      }
    }
  }

  .responsive {
    position: relative;

    .item {
      border-radius: 0 !important;
      display: block !important;
      float: none !important;
      margin-right: 0 !important;
      text-align: left;

      a {
        padding-left: 15px !important;
      }
    }

    .item-left {
      border-radius: 0 !important;
      display: block !important;
      float: none !important;
      margin-right: 0 !important;
      padding-left: 15px !important;
      text-align: left;

      a:hover {
        text-decoration: none !important;
      }
    }
  }

  .page {
    .page-left {
      border-right: none !important;

      .new-reviews {
        font-size: 20px;
      }
    }
  }

  .header-above-right {
    .item-right {
      display: none;
    }

    .item-or {
      display: none;
    }
  }
}

