.review-mini,
.review {
  .review-header {
    margin-bottom: 10px;
    position: relative;

    .review-actions {
      display: none;
      position: absolute;
      right: 5px;
      top: 5px;

      .review-edit,
      .review-delete {
        display: inline-block;
        padding: 5px;
      }
    }

    .review-title {
      .title {
        display: inline-block;
        font-weight: bolder;
        word-break: break-word;
      }

      .star {
        color: rgb(247, 219, 18);;
        display: inline-block;
      }
    }

    .review-date {
      font-size: 12px;
    }

    .review-game {
      h5 {
        display: inline-block;
        word-break: break-word;
      }
    }
  }

  .review-body {
    margin-bottom: 10px;

    .game-cover {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .exten-cover {
      width: 100%;
    }
  }

  .review-footer {
    .review-read-more {
      float: left;

      .btn-read-more {
        background-color: #999999;
        color: white;
      }
    }

    .review-action {
      float: right;

      .review-like,
      .review-dislike,
      .review-comment {
        padding: 2px;
      }

      .emotition-like,
      .emotition-dislike,
      .review-comment-action {
        text-decoration: none;
      }

      .emotition-like:hover,
      .emotition-dislike:hover,
      .review-comment-action:hover {
        text-decoration: none;
      }
    }
  }

  .review-comments {
    .read-more-comment {
      margin-bottom: 10px;
      margin-top: 10px;

      .read-more {
        display: inline-block;

        .btn-read-more {
          background-color: #999999;
          color: white;
        }

        .btn-read-more,
        .btn-read-more:hover {
          text-decoration: none;
        }
      }

      .hide-comment {
        display: none;

        .btn-hide {
          background-color: #999999;
          color: white;
        }

        .btn-hide,
        .btn-hide:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.new-review,
.edit-review {
  .container {
    background-color: white;
    padding: 15px;

    .field {
      margin-bottom: 20px;

      .rate-label {
        margin-right: 10px;
      }

      .fa-star {
        color: #333333;
        cursor: pointer;
        font-size: 18px;
      }

      .active-star {
        color: #f7db12 !important;
      }
    }

    .editable {
      height: auto;
      min-height: 400px;
    }

    .medium-editor-hidden {
      display: none;
    }

    .actions {
      margin-top: 10px;
      float: right;
    }

    .game-review {
      .game-review-left {
        margin-bottom: 20px;
        .game-review-cover {
          max-height: 300px;
        }
      }

      .game-review-right {
        .game-name {
          a {
            color: black;
          }
        }

        .game-genre {
          .genre-title {
            display: inline-block;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

.review {
  .container {
    background-color: white;

    .review-left {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
    }

    .review-right {
      padding: 5px;

      .top-5,
      .recent {
        cursor: pointer;
        display: inline-block;
        padding: 5px;
      }

      .top-5:hover,
      .recent:hover {
        background-color: #ccc;
      }

      .recent-list {
        display: none;
      }

      .active {
        background-color: #ccc;
      }

      ul {
        -webkit-padding-start: 0px;

        li {
          list-style: none;
        }
      }
    }
  }
}
