.user {
  .container {
    background-color: white;
    padding: 5px;

    .user-left {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px;

      .user-avatar {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
        max-width: 200px;

        .avatar {
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin-bottom: 0;
        }
      }

      .user-info {
        .info {
          margin-bottom: 7px;

          .fa {
            font-size: 18px;
            width: 30px;
          }
        }

        a {
          display: block;
          margin-bottom: 5px;
        }

        .review-number {
          font-size: 18px;
        }
      }
    }

    .user-right {
      .resposive {
        display: none;
      }
    }
  }
}

.user-edit {
  .container {
    background-color: white;
    padding: 10px;

    .user-edit-left {
      .avatar-form {
        display: inline-block;
        position: relative;

        .avatar-edit {
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin: 0;
        }

        .avatar-field {
          bottom: 0;
          display: none;
          left: 0;
          position: absolute;
          width: 200px;
        }
      }
    }

    .user-edit-right {
      .field {
        margin-bottom: 10px;

        label {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .user {
    .user-right {
      .normal {
        display: none;
      }

      .resposive {
        display: block !important;
      }
    }
  }

  .user-edit {
    .form-control {
      font-size: 16px;
    }

    input::-webkit-input-placeholder {
      font-size: 11px;
      line-height: 2;
    }
  }
}
