<div class="page">
  <div class="container">
    <div class="col-log-8 col-md-8 col-sm-12 col-xs-12 page-left">
      <h3 class="new-reviews">
        Commented, liked Reviews. Reviews of followed games
      </h3>
      <hr>
      <% @reviews.each do |review| %>
        <%= render "reviews/medium", review: review %>
        <hr>
      <% end %>
      <%= paginate @reviews, theme: "twitter-bootstrap-3" %>
    </div>

    <div class="col-log-4 col-md-4 col-sm-12 col-xs-12 page-right">
      <%= render "pages/page_right", top_games: @top_games,
        recent_games: @recent_games %>
    </div>
  </div>
</div>
